In [1]:
local_path = "/Users/zhengz11/myscripts/git_clone/pn_kc/"
exec(open(local_path + "connectivity/startup.py").read())

In [6]:
exec(open(local_path + "connectivity/analysis.py").read())

/Users/zhengz11/myscripts/git_clone/pn_kc/mushroom_2to3/build_connectivity.py:541: RuntimeWarning: invalid value encountered in double_scalars
  n = ci_matrix[col, row]*2 / np.sum(conn[(col,row),:])

In [ ]:
# above are all good

In [31]:
comm_anno_ids = df_lookup('glom_id', comm_ids,'glom_anno_id', glom_btn_table)

comm_idx = find_elements(ana_rd.conn_data['glom_kc_in_claw_unit'].col_ids, comm_anno_ids)

comm_conn = ana_rd.conn_data['glom_kc_in_claw_unit'].conn['1s'][:,comm_idx]

pd.Series(comm_conn.sum(1)).value_counts()

0.0    151
1.0     94
2.0     74
3.0     56
4.0     40
5.0     19
6.0      4
7.0      2
dtype: int64

In [23]:
comm_conn

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [18]:
comm_anno_ids = df_lookup('glom_id', comm_ids,'glom_anno_id', glom_btn_table)

[1419110,
 2500472,
 1419073,
 1419214,
 1419219,
 1419070,
 1419230,
 1419178,
 1419211,
 1283123]

In [17]:
glom_btn_table.head()

,Unnamed: 0,bouton_count,glom_anno,glom_anno_id,glom_id,norm_bouton_count,short_glom_name
0,0,22,glomerulus DA1,1419201,0,0.044,DA1
1,1,4,glomerulus VM4,1419198,1,0.008,VM4
2,2,5,glomerulus DA3,2500563,2,0.010,DA3
3,3,9,glomerulus VA6,2500515,3,0.018,VA6
4,4,11,glomerulus VA4,1283123,4,0.022,VA4

In [15]:
comm_gloms

['DM2', 'DP1m', 'VM2', 'DL2v', 'DM3', 'DM4', 'DM1', 'VM3', 'VA2', 'VA4']